:root{
  --mainBlue: #2a2a72;
  --lightBlue : #009ffd;
  --mainWhite : #f3f3f3;
  --mainDard: #232528;
  --mainYellow: #ffa400;
}
 body{
  font-family: 'Oswald', sans-serif !important;
  font-weight: bold !important;
  background: var(--mainWhite) !important;
  color: var(--mainDard) !important;
 }
 .text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
 }

 .text-blue{
  color: var(--mainBlue);
 }
 .text-bright{
  color: var(--lightBlue);
 }

 .btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  font-weight: bold;
  color  : var(--mainDard);
  border-radius: 0 !important;
  border: 0.15rem solid var(--mainDard) !important;
 }
  .btn-black:hover{
    background-color: var(--mainDard) !important;
    color: var(--mainWhite) !important;
  }


  .cart-icon{
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--mainYellow);
  }